* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #121212; /* Dark background color */
  color: #e0e0e0; /* Light text color */
  margin: 0;
  padding: 0;
}

a {
  color: #bb86fc; /* Light purple color for links */
}

input,
textarea,
select {
  background-color: #333; /* Dark background for form elements */
  color: #e0e0e0; /* Light text color for form elements */
  border: 1px solid #555; /* Slightly lighter border for form elements */
  padding: 8px;
  border-radius: 4px;
}

button {
  background-color: #6200ee; /* Primary button color */
  color: #ffffff; /* White text color */
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

h1 {
    text-align: center;
    padding-bottom: 1em;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.login__field {
  padding: 1.5em 1em;
  margin: 1em auto;
  max-width: 15em;
  display: flex;
  flex-direction: column;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
}

.login__info {
  margin: 1em 0;
  padding: 1em;
}

.success {
    background-color: green;
    padding: 1em;  
}

.fail {
  background-color: red;
  padding: 1em;
}

.hidemessage {
  display: none;
}

.showmessage{
  display:block;
}

